<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='Interface.css') }}">
        <title>
            Weather Today
        </title>
    </head>
    <body class="Background">
        <div class="Heading">
            &#9729; Today's Weather &#9729;
        </div>
        <div>
            <p class="Weather-emoji" id="weather-emoji">-</p>
        </div>
        <div class="Temperature" id="temperature">
            -- &deg;C
        </div>
        <div class="City-name" id="city-name">
            📍Select a city
        </div>
        <div class="Weather-Desc" id="weather-desc">
            Loading...
        </div>
        <div class="Description-box">
            <div class="Info">
                <span>💧 Humidity</span>
                <span class="values" id="humidity">--%</span>
            </div>
            <div class="Info">
                <span>🌬 Wind</span>
                <span class="values" id="wind-speed">-- km/h</span>
            </div>
            <div class="Info">
                <span>🌅 Sunrise</span>
                <span class="values" id="sunrise-time">--:-- AM</span>
            </div>
            <div class="Info">
                <span>🌇 Sunset</span>
                <span class="values" id="sunset-time">--:-- PM</span>
            </div>
            <div class="Info">
                <span>🌎 Country</span>
                <span class="values" id="country">---</span>
            </div>
        </div>
        <div>
            <div>
                <button class="City-Change" onclick="
                if (selection === true) {
                    showPopup();
                    selection = false;
                } else if (selection === false) {
                    hidePopup();
                    selection = true;
                }
                    ">
                    📍
                </button>
            </div>
        <div class="Pop-up">
            <input class="Search-Bar" type="text" placeholder="🔍 Search city">
            <div class="City-list">
               
            </div>
        </div>
        <script src="{{ url_for('static', filename='Interface.js') }}"></script>
    </body>
</html>